<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Department Detail Page</title>
</head>
<body>
<header>
<h1>Department Detail Page</h1>
</header>
<nav>
    <ul>
    <li><a href="./index.html" title="Go to the Main Page">Main Page</a></li>
    <li><a href="./departments.html" title="Click to see departments">Departments</a></li>
    <li><a href="./employees.html" title="Click to see all the ingredients">Employees</a></li>
    </ul>
</nav>
<h2>Name: IT</h2>
<h3>Number of Employees: 555</h3>
<p>Department Head: Oleksandr</p>
<p>Date Founded: 01/01/2022</p>

</body>
</html>