<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Employee</title>
</head>
<body>
<header>
<h1>Add Employee</h1>
</header>
<nav>
    <ul>
    <li><a href="./index.html" title="Go to the Main Page">Main Page</a></li>
    <li><a href="./departments.html" title="Click to see departments">Departments</a></li>
    <li><a href="./employees.html" title="Click to see all the ingredients">Employees</a></li>
    </ul>
</nav>
<form action="../documentation/html_prototype.html">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" placeholder="Name of Employee"><br>
  <label for="position">Position:</label><br>
  <input type="text" id="position" name="position"><br>
  <label for="department">Department:</label><br>
  <input type="text" id="department" name="department"><br>
  <label for="date">Date Joined the Company:</label><br>
  <input type="date" id="date" name="date"><br>
  <label for="color">Favorite Color:</label><br>
  <input type="text" id="color" name="color"><br>
  <input type="submit" value="Add Department">
</form>
</body>
</html>